div.table {
    display: table;
    max-width: 100%;
    margin-bottom: 15px;
}

div.table .file-row {
    display: table-row;
    background: #f9f9f9;
}

div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}


#submit-previews .file-row.dz-success .delete {
    display: block;
}

#photo-init-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.edit-thumbnail {
    object-fit: cover;
    height: 80px;
    width: 80px;
}


.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-danger:hover {
    background-color: #bb2d3b !important;
    border-color: #b02a37 !important;
}

.progress {
    margin-top: 10px;
}

#result-image-container {
    display: flex;
    justify-content: center;
}