<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/images/logo@2x.png">
    <title>K-Means Demo Web App</title>


    <!-- JQuery 3.6.0 Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            referrerpolicy="no-referrer"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- Socket IO 4.4.1 Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"
            integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Dropzone 4.3.0 Library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>

    <!-- Initializes all global variables for JS functions -->
    <!--    <script src="{{ url_for('static', filename='js/globalVariables.js') }}"></script>-->

    <!-- My Personal JS Functions -->
    <script src="{{ url_for('static', filename='js/formFunctions.js') }}"></script>
    <!--    <script src="{{ url_for('static', filename='js/imageFunctions.js') }}"></script>-->
    <!--    <script src="{{ url_for('static', filename='js/textFunctions.js') }}"></script>-->
    <!--    <script src="{{ url_for('static', filename='js/markerFunctions.js') }}"></script>-->
    <!--    <script src="{{ url_for('static', filename='js/mapFunctions.js') }}"></script>-->

    <!-- My Personal CSS Functions -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<div class="container-fluid">
    <div class="row">

        <div class="col-xl-7">
            <div class="container p-5 my-5 border">
                <h2>K-Means Image Segmentation Demo</h2>
                <h5>by <a href="https://benchanjamin.com/" target="_blank" rel="noopener noreferrer">Benjamin Chan</a>
                </h5>
                <p>Image segmentation is the process of partitioning an image into segments of related
                    pixels with the goal of making the image more simple and easier to analyze in more sophisticated
                    computer vision processes such as object detection.</p>
                <p>K-means is a parameterized algorithm that, when given a number k that is also known as the desired
                    <strong>
                        number of segments, </strong> minimizes the sum of
                    squared distances between other points and the locations of k centroids. In our case, each of these
                    k centroids is an RGB value that seeks to minimize the sum of squared distances between it and
                    other pixels it is closest in value compared to other centroids. The <strong>number of
                        iterations</strong> increases
                    the likelihood that a local minimum
                    is reached where all pixels in the image are labeled according to one of the k centroids they are
                    closest
                    to and their labels cannot be further changed by the k-means algorithm.</p>

                <p>In this web app, I implemented the k-means algorithm efficiently using the Numpy and OpenCV Python
                    libraries within a Flask backend. The SocketIO Python library updates the progress bar below when the
                    uploaded
                    image is processing. For deployment, I used the Gunicorn and Eventlet Python libraries
                    to start the HTTP server on Heroku.</p>
                <p>To run the app, simply add an image below, edit the number of
                    segments and number of iterations to your liking, and then click the submit button to see the resulting segmented image either below or to the right. To prevent intensive computation, the
                    number of segments is limited between 1 inclusive and 9 inclusive, and the number of iterations
                    is limited between 1 inclusive and 100 inclusive. Enjoy!</p>
                <form action="{{ url_for('handle_pic') }}" id="submit-form" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col">
                            <label for="segments" class="col-form-label required-field"># of Segments</label>
                            <input type="number" id="segments" class="form-control" name="segments" value="1"
                                   min=1 max=9 required>
                        </div>
                        <div class="col">
                            <label for="iterations" class="col-form-label required-field"># of Iterations</label>
                            <input type="number" id="iterations" class="form-control" name="iterations" value="1"
                                   min=1 max=100 required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="submit-container">

                            <div id="photo-init-buttons">
                <span class="btn btn-success fileinput-submit-button dz-clickable flex-container">
                                          <i class="bi bi-plus"></i>
                                          <span>Add Image</span>
                                    </span>
                            </div>

                            <div class="table table-striped files" id="submit-previews">
                                <div id="submit-template" class="file-row dz-image-preview">
                                    <!-- This is used as the file preview template -->
                                    <div>
                                        <span class="preview"><img data-dz-thumbnail class="submit-thumbnail"></span>
                                    </div>
                                    <div>
                                        <p class="name" data-dz-name></p>
                                    </div>
                                    <div>
                                        <button type="button" data-dz-remove class="btn btn-danger delete float-end">
                                            <i class="bi bi-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" form="submit-form" id="submitImage"
                            class="btn btn-primary">
                        Submit
                    </button>
                </form>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success notransition"
                         id="upload-percentage-display"
                         role="progressbar"
                         style="width: 0;" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5">
            <div class="container my-5 p-5 border">
                <h3>Your K-Means Image Segmentation Result:</h3>
                <div id="result-image-container">

                </div>
            </div>
        </div>


    </div>

</div>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


<script>
    $(document).ready(function () {
        dropzoneInit();
        let socket = io();

        socket.on('upload_progress', function (percentage) {
            if (uploadCanceled === false) {
                $('#upload-percentage-display').attr('aria-valuenow', String(Math.round(
                    parseFloat(percentage)))).css('width', String(Math.ceil(parseFloat(percentage))) + '%');
            }
        })

        socket.on('start_upload', function () {
            $("#result-image-container").append("<div class=\"loadingio-spinner-spinner-807aso1xqpd\">\n" +
                "                        <div class=\"ldio-cv3l445k487\">\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                            <div></div>\n" +
                "                        </div>\n" +
                "                    </div>")
        })

    })
</script>

</body>
</html>
